@media only screen and (max-width: 992px) {
  nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav ul {
    display: none;
  }
  .burger-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .basis {
    width: 70%;
    height: auto;
    margin: 0 auto;
    padding: 3% 4%;
  }
  .basis .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .basis .items .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 45%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 3% 6%;
    margin: 0 0 4% 0;
    background-color: #F6FDFF;
  }
  .basis .items .card h2 {
    text-align: center;
    font-size: 22px;
  }
  .basis .items .card a {
    font-size: 17px;
  }
  .basis .items .card p {
    font-size: 15px;
  }
  .basis .items .card button {
    font-size: 16px;
  }
  .basis .items .card span {
    font-size: 12px;
  }
  .basis .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5% 0;
  }
  .basis .pagination a {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .basis {
    width: 100%;
  }
  aside {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding: 25% 18%;
  }
  header h1 {
    font-size: 30px;
    margin: 30px 0;
  }
  header p {
    font-size: 18px;
  }
  .basis .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .basis .items .card {
    width: 100%;
  }
  .basis .items iframe {
    height: 300px;
  }
}
