RewriteEngine on

#RewriteCond %{HTTPS} off

#RewriteCond %{HTTP:X-Forwarded-SSL} !on

#RewriteCond %{HTTP_HOST} ^belugacaviar\.fr$ [OR]

#RewriteCond %{HTTP_HOST} ^www\.belugacaviar\.fr$

#RewriteRule ^/?$ "https\:\/\/www\.belugacaviar\.fr\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^www\.(.*)$

RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

RewriteCond %{HTTPS} !=on

RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]  

<FilesMatch ".(ogg|ogv|svg|svgz|eot|otf|woff|mp4|ttf|rss|atom|jpg|jpeg|gif|png|ico|zip|tgz|gz|rar|bz2|doc|xls|exe|ppt|tar|mid|midi|wav|bmp|rtf)$">

Header set Cache-Control "max-age=2592000, must-revalidate"
